<a href="https://colab.research.google.com/github/quantlabsabin/Python_Learning/blob/Takeo_Projects/Sabin_Imdbtop1000.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#IMDB top 1000 movies

In [ ]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/IMDB top 1000.csv")
df.head(3)

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,2,3. The Dark Knight (2008),PG-13,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Director: Christopher Nolan | Stars: Christian...,"Votes: 2,260,649 | Gross: $534.86M"

In [ ]:
df.shape #(1000 observations, 10 columns)
print(df.dtypes)

Unnamed: 0       int64
Title           object
Certificate     object
Duration        object
Genre           object
Rate           float64
Metascore      float64
Description     object
Cast            object
Info            object
dtype: object

In [ ]:
#check missing values
df.isna().sum()

Unnamed: 0       0
Title            0
Certificate     27
Duration         0
Genre            0
Rate             0
Metascore      288
Description      0
Cast             0
Info             0
dtype: int64

In [ ]:
#printing out missing values to see if they record 'NaN' or something else
miss_values = df[df['Certificate'].isna()]
miss_values.head(4)

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
54,54,55. Ayla: The Daughter of War (2017),NaN,125 min,"Biography, Drama, History",8.4,NaN,"In 1950, amid-st the ravages of the Korean War...","Director: Can Ulkay | Stars: Çetin Tekindor, I...","Votes: 32,732"
90,90,91. 7 Kogustaki Mucize (2019),NaN,132 min,Drama,8.3,NaN,A story of love between a mentally-ill father ...,Director: Mehmet Ada Öztekin | Stars: Aras Bul...,"Votes: 30,188"
91,91,92. My Father and My Son (2005),NaN,112 min,"Drama, Family",8.3,NaN,The family of a left-wing journalist is torn a...,"Director: Çagan Irmak | Stars: Çetin Tekindor,...","Votes: 76,924"
128,128,129. Chhichhore (2019),NaN,143 min,"Comedy, Drama",8.2,NaN,"A tragic incident forces Anirudh, a middle-age...",Director: Nitesh Tiwari | Stars: Sushant Singh...,"Votes: 30,676 | Gross: $0.90M"

In [ ]:
#missing value strategy
print(df.Certificate.dtypes) #object, strategy = most_frequent
print(df.Metascore.dtypes) #float, strategy = mean

object
float64

In [ ]:
#finding index of the columns with NaN
print(df.columns.get_loc('Certificate')) #index 2, mostrequent
print(df.columns.get_loc('Metascore'))  #index 6, mean

2
6

In [ ]:
#nan removed from df.Certificate with mode
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values= np.nan, strategy='most_frequent')
imputer.fit(df.iloc[:,2:3])
df.iloc[:, 2:3] = imputer.transform(df.iloc[:, 2:3])

In [ ]:
#nan removed from df.metascore with mean
from sklearn.impute import SimpleImputer
imputer2 = SimpleImputer(missing_values= np.nan, strategy='mean')
imputer2.fit(df.iloc[:, 6:7])
df.iloc[:, 6:7] = imputer2.transform(df.iloc[:, 6:7])

In [ ]:
df.isna().sum() #no missing values

Unnamed: 0     0
Title          0
Certificate    0
Duration       0
Genre          0
Rate           0
Metascore      0
Description    0
Cast           0
Info           0
dtype: int64

In [ ]:
#feature engineering
df.head(4)
#both df.Cast and df.Info can be separated into 2 columns.

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,2,3. The Dark Knight (2008),PG-13,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Director: Christopher Nolan | Stars: Christian...,"Votes: 2,260,649 | Gross: $534.86M"
3,3,4. The Godfather: Part II (1974),R,202 min,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"

In [ ]:
#split df.Cast and df.Info
df[['Director', 'Stars']] = df['Cast'].str.split('|', expand=True) #in Cast column, string function split is used, 'expand = True' creates 2 new columns.
df[['Votes', 'Gross']] = df['Info'].str.split('|', expand=True)

In [ ]:
df.head(3)

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info,Director,Stars,Votes,Gross
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M",Director: Frank Darabont,"Stars: Tim Robbins, Morgan Freeman, Bob Gunto...","Votes: 2,295,987",Gross: $28.34M
1,1,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M",Director: Francis Ford Coppola,"Stars: Marlon Brando, Al Pacino, James Caan, ...","Votes: 1,584,782",Gross: $134.97M
2,2,3. The Dark Knight (2008),PG-13,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Director: Christopher Nolan | Stars: Christian...,"Votes: 2,260,649 | Gross: $534.86M",Director: Christopher Nolan,"Stars: Christian Bale, Heath Ledger, Aaron Ec...","Votes: 2,260,649",Gross: $534.86M

In [ ]:
df['Director'] = df['Director'].str.replace('Director:', '')
df['Director'] = df['Director'].str.strip()

df['Stars'] = df['Stars'].str.replace('Stars:', '')
df['Stars'] = df['Stars'].str.strip()

df['Votes'] = df['Votes'].str.replace('Votes:', '')
df['Votes'] = df['Votes'].str.strip()

df['Gross'] = df['Gross'].str.replace('Gross:', '')
df['Gross'] = df['Gross'].str.strip()

In [ ]:
#removing $ and M from gross collection, and comma from votes
df['Gross'] = df['Gross'].str.replace('$', '')
df['Gross'] = df['Gross'].str.strip()

df['Gross'] = df['Gross'].str.replace('M', '')
df['Gross'] = df['Gross'].str.strip()



df['Votes'] = df['Votes'].str.replace(',', '')
df['Votes'] = df['Votes'].str.strip()

<ipython-input-184-01ed8e3dce3f>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Gross'] = df['Gross'].str.replace('$', '')

In [ ]:
df.head(3)
print(df['Gross'].dtypes)
df['Gross'] = pd.to_numeric(df['Gross'], errors = 'coerce')
df['Votes'] = pd.to_numeric(df['Votes'], errors = 'coerce')
df = df.rename(columns={'Gross': 'Gross(M)'})

object

In [ ]:
print(df.dtypes)
#initial data processing is complete

Unnamed: 0       int64
Title           object
Certificate     object
Duration        object
Genre           object
Rate           float64
Metascore      float64
Description     object
Cast            object
Info            object
Director        object
Stars           object
Votes            int64
Gross(M)       float64
dtype: object

In [ ]:
df.head(4)

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info,Director,Stars,Votes,Gross(M)
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M",Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",2295987,28.34
1,1,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1584782,134.97
2,2,3. The Dark Knight (2008),PG-13,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Director: Christopher Nolan | Stars: Christian...,"Votes: 2,260,649 | Gross: $534.86M",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",2260649,534.86
3,3,4. The Godfather: Part II (1974),R,202 min,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M",Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall, Dian...",1107253,57.30

In [ ]:
#Task1. Filtering
#1. Find top 10 imdb movies based on rating, votes, and gross

#Rate
top_10_ratings = df.nlargest(10, 'Rate')
print(top_10_ratings[['Title', 'Rate']])

                                               Title  Rate
0                 1. The Shawshank Redemption (1994)   9.3
1                            2. The Godfather (1972)   9.2
2                          3. The Dark Knight (2008)   9.0
3                   4. The Godfather: Part II (1974)   9.0
4  5. The Lord of the Rings: The Return of the Ki...   8.9
5                             6. Pulp Fiction (1994)   8.9
6                         7. Schindler's List (1993)   8.9
7                             8. 12 Angry Men (1957)   8.9
8                                9. Inception (2010)   8.8
9                              10. Fight Club (1999)   8.8

In [ ]:
#Gross
top_10_gross = df.nlargest(10, 'Gross(M)')
print(top_10_gross[['Title', 'Gross(M)']])

                                 Title  Gross(M)
58        59. Avengers: Endgame (2019)    858.37
59   60. Avengers: Infinity War (2018)    678.82
352           355. The Avengers (2012)    623.28
452           355. The Avengers (2012)    623.28
552           355. The Avengers (2012)    623.28
652           355. The Avengers (2012)    623.28
752           355. The Avengers (2012)    623.28
852           355. The Avengers (2012)    623.28
952           355. The Avengers (2012)    623.28
2            3. The Dark Knight (2008)    534.86

In [ ]:
#602 movies in df.Title are duplicates, which must be removed
duplicates = df['Title'].duplicated().sum()
print(duplicates)

# dupli = df['Title'].duplicated()
# print(dupli)

602

In [ ]:
df1 = df.drop_duplicates(subset='Title', keep='first') #keep = 'first' keeps 1st unique records and drops remaining ones

In [ ]:
duplicates = df1['Title'].duplicated().sum()
print(duplicates)

0

In [ ]:
df1.shape

(398, 14)

In [ ]:
#top 10 based on Gross
top_10_gross = df1.nlargest(10, 'Gross(M)')
print(top_10_gross[['Title', 'Gross(M)']])

                                                 Title  Gross(M)
58                        59. Avengers: Endgame (2019)    858.37
59                   60. Avengers: Infinity War (2018)    678.82
352                           355. The Avengers (2012)    623.28
2                            3. The Dark Knight (2008)    534.86
62                    63. The Dark Knight Rises (2012)    448.14
42                            43. The Lion King (1994)    422.78
92                              93. Toy Story 3 (2010)    415.00
257                          260. Jurassic Park (1993)    402.45
221  224. Harry Potter and the Deathly Hallows: Par...    381.01
238                           241. Finding Nemo (2003)    380.84

In [ ]:
#top 10 based on votes
top_10_votes = df1.nlargest(10, 'Votes')
print(top_10_votes[['Title', 'Votes']])

                                                Title    Votes
0                  1. The Shawshank Redemption (1994)  2295987
2                           3. The Dark Knight (2008)  2260649
8                                 9. Inception (2010)  2022655
9                               10. Fight Club (1999)  1820268
5                              6. Pulp Fiction (1994)  1792919
11                            12. Forrest Gump (1994)  1769309
15                              16. The Matrix (1999)  1643911
10  11. The Lord of the Rings: The Fellowship of t...  1630106
4   5. The Lord of the Rings: The Return of the Ki...  1614369
1                             2. The Godfather (1972)  1584782

In [ ]:
#which director has highest appearance in top 100 imdb ratings

df_rate_top100 = df1.nlargest(100, 'Rate')
df_rate_top100['Director'].value_counts()

Christopher Nolan       6
Peter Jackson           3
Quentin Tarantino       3
Steven Spielberg        3
Stanley Kubrick         3
                       ..
James Cameron           1
Giuseppe Tornatore      1
Hrishikesh Mukherjee    1
Michael Curtiz          1
Gus Van Sant            1
Name: Director, Length: 70, dtype: int64

In [ ]:
#Filter out movies by Christopher Nolan that are in top 100 imbd ratings
df_nolan = df_rate_top100[df_rate_top100['Director']== "Christopher Nolan"]
print(df_nolan[['Title', 'Rate']])

                               Title  Rate
2          3. The Dark Knight (2008)   9.0
8                9. Inception (2010)   8.8
20           21. Interstellar (2014)   8.6
35           36. The Prestige (2006)   8.5
62  63. The Dark Knight Rises (2012)   8.4
68                69. Memento (2000)   8.4

In [ ]:
df_nolan = df1[df1['Director']== "Christopher Nolan"]
print(df_nolan[['Title', 'Rate']])

                                Title  Rate
2           3. The Dark Knight (2008)   9.0
8                 9. Inception (2010)   8.8
20            21. Interstellar (2014)   8.6
35            36. The Prestige (2006)   8.5
62   63. The Dark Knight Rises (2012)   8.4
68                 69. Memento (2000)   8.4
153         154. Batman Begins (2005)   8.2

In [ ]:
df1.head(6)

NameError: ignored